/*Selector de elemento*/
h1{
    color: blue;
    text-align: center;
}
/*Selector de clases*/
.texto{
    font-size: large;
    text-align: justify;
}
/*Selector de id*/
#titulo{
    color: brown;
    text-align: left;
}
[href]{
    color: blue;
}
[href="https://www.youtube.com/"]{
    color: red;
}
.contenedor{
    width: 550px;
    border: 10px solid green;
    padding: 5px;
    margin: 5px;
    box-sizing: content-box;
}
.contenedor ul{
    background-color: brown;
    border-radius: 15px;
    width: 500px;
    border: 3px solid black;
}